@model Customer


    <div class="container">
        <div>
            <h1>Kunder</h1>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CustomerId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>

                </tr>


                <tbody>

                 
                 
                        <tr>
                            <td>
                                @Model.CustomerId
                            </td>
                            <td>
                                @Model.FirstName
                            </td>
                            <td>
                                @Model.LastName
                            </td>
                            <td>
                                @Model.Email
                            </td>
                            <td>
                        <a class="btn btn-primary" asp-controller="CustomerBook" asp-action="Loan" asp-route-id=@Model.CustomerId>Hämta lånade böcker</a>
                        <a class="btn btn-danger" asp-controller="Customer" asp-action="Delete" asp-route-id="@Model.CustomerId">Ta bort kund</a>
                            </td>

                        </tr>
                    </table>    
    </div>
</div>




